<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bumos.vgvee.codigo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EdittextActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LifecycleActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NewProjectActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TextViewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ButtonActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CalculatorActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ImageviewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WebviewActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".CodeReceived"></activity>


</application>

</manifest>